{% extends 'base.html'%}

{% block content%}

<form>
    <div class="row">
        <div class="six columns">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" id="username">
        </div>
        <div class="six columns">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">
        </div>

    </div>
    <input class="button-primary" type="submit" value="Login">
</form>




{% endblock %}