{% extends 'base.html'%}

{% block content %}

<div class>
    <p>
        Hi, welcome to my blog, somewhere for me to write stuff about the different <br>
        programming projects that I am undertaking and what I am currently researching<br>
        which could be anything from some feature in the programming languages Python <br>
        or C++ or perhaps some new technique which I have read about in the Machine Learning and <br>
        Artificial Intelligence spaces.
        


    </p>
    <p>
        Below you will find a list of my current posts on this blog

    </p>

</div>

<div class="row">
    <h4 id="ProjectsTitle">Projects Portfolio </h4>
    <div class ="row">
        <div class="six columns">
            <h5><a href="" >Making a Deep Learning Driving Model</a></h5>

        </div>
        <div class="six columns">
            <h5><a href>Building a Portfolio Blog Website in Python with Flask</a></h5>

        </div>
    </div>

</div>

{% endblock %}